<div class="df ai jc" style="height: 50px;padding: 0px 10px;border-bottom: 1px solid lightgrey;">
    <div class="mf fw">Card Selection Detail</div>
    <button mat-icon-button tabindex="-1" (click)="dialogClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="df ai" style="flex-direction: column;padding: 10px 10px 0px 10px;;height: 55vh;">
    <div style="color:green;">You Select a <span class="mf fw" style="color: red;">{{data?.cardData?.Suit}}</span> card and number of <span
            class="mf fw" style="color: red;">{{data?.cardData?.Value}}</span> </div>
    <div class="df card-view cp">
        <span>{{data?.cardData?.Value}}</span>
        <span class="df ai" style="margin-left: 30px;">
            <img style="height: 30px;width: 30px;" src="{{data?.cardData?.Suit | cardImagePicker}}">
        </span>
    </div>
</div>

<div class="df ai jc" style="padding: 0px 10px;">
    <button mat-button class="cl bc" (click)="dialogClose()">Cancel</button>
    <button mat-button class="cl bc" (click)="dialogClose()">Ok</button>
</div>